<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    <%= title %>
  </title>

  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="" rel="" />
  <link href="" rel="" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/vendor/bootstrap/css/bootstrap-icons.min.css" rel="stylesheet" />
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet" />


  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
  <header id="header" class="header-top bg-dark d-flex align-items-center justify-content-center">
    <div class="container">
      <h2 class=""><a href="/" class="text-light">Ki Mart</a></h2>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="#home">Home</a></li>
          <li><a class="nav-link" href="#about">about us</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <li><a class="nav-link" href="#loan">loan</a></li>
          <li><a class="nav-link" href="#contact">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <main>

    <!-- ================== Banner Start ================== -->

    <section class="" id="home">
      <div class="container">
        <div class="banner_container row">
          <div class="col-lg-6 col-12 content">
            <h1>Per Month 10000+ Income With Ki Mart </h1>
            <p>
              requirements of ship owners, ship managers and endeavors to be a
              strategic partner amongst
            </p>
            <a href="#">Read More</a>
          </div>
          <div class="imgBx col-lg-6 col-12">
            <img src="/img/banner.png" alt="">
          </div>
        </div>
      </div>
    </section>

    <!-- ================== Banner End ================== -->

    <!-- About Start -->

    <section class="about d-flex align-items-center justify-content-center" id="about">
      <div class="container banner_container">
        <div>
          <h2 class="text-center pb-5">About Us</h2>
        </div>
        <div class="row align-items-center justify-content-center ">
          <div class="col-lg-6">
            <div>
              <img src="/img/about.png" class="img-fluid" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <h2>Go And Grow For Woman</h2>
            <p>
              Founded in Jan. 2023 In Delhi. Ki Mart Company has been Lunch By
              Mr. Yogesh Jangid,
            </p>
            <span>whose aim is to make every woman power of India self-reliant
            </span>
            <div class="p-lg-0 pb-3">
              <button class="button"><span>Discover More</span></button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About End -->

    <!-- Why Choice We Start -->
    <!-- 
    <section class="why_we d-flex align-items-center justify-content-center">
      <div class="container">
        <div>
          <span></span>
          <h2></h2>
        </div>
        <div class="row pb-5 align-items-center justify-content-center">
          <div class="col-lg-4 col-12">
            <div class="box d-flex align-items-center justify-content-center">
              <div class="text-center">
                <i class='bx bx-glasses'></i>
                <p class="m-0">Over Vision</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-12">
            <div class="long_box"></div>
          </div>
        </div>
        <div class="row pb-5 align-items-center justify-content-center">
          <div class="col-lg-8">
            <div class="long_box"></div>
          </div>
          <div class="col-lg-4 d-flex justify-content-end align-items-center">
            <div class="box d-flex align-items-center justify-content-center">
              <div class="text-center">
                <i class="bi bi-graph-up"></i>
                <p class="m-0">OUR MISSION</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-5 align-items-center justify-content-center">
          <div class="col-lg-4">
            <div class="box d-flex align-items-center justify-content-center">
              <div class="text-center">
                <i class="ri-heart-add-fill"></i>
                <p class="m-0">OUR VALUES
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="long_box"></div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Why Choice We End -->

    <!-- contact Start -->

    <section class="contact vh-100" id="contact">
      <div class="container banner_container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6">
            <h2 class="pb-3">Contact Info</h2>
            <div class="infoBox">
              <div class="">
                <span>
                  <box-icon name="current-location"></box-icon>
                </span>
                <p>
                  catering to service requirements of ship owners, ship
                  managers
                </p>
              </div>
            </div>
            <div class="infoBox">
              <div>
                <span>
                  <box-icon name="gmail" type="logo"></box-icon>
                </span>
                <a href="kiranamart2023@gmail.com
                        ">kiranamart2023@gmail.com
                </a>
              </div>
            </div>
            <div class="infoBox">
              <div>
                <span>
                  <box-icon name="phone-incoming" type="solid"></box-icon>
                </span>
                <a href="">(0229)-9090 123 / +91 2020-636-989 </a>
              </div>
            </div>
            <!-- social Media Icon -->
            <ul class="sci">
              <li>
                <a href="#"><box-icon name="whatsapp" type="logo"></box-icon></a>
              </li>
              <li>
                <a href="#"><box-icon type="logo" name="facebook-circle"></box-icon></a>
              </li>
              <li>
                <a href="#"><box-icon name="instagram" type="logo"></box-icon></a>
              </li>
              <li>
                <a href="#"><box-icon name="twitter" type="logo"></box-icon></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d117979.28092999445!2d70.04923396049115!3d22.472175408667017!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3957154934c04597%3A0xe8b7dd81a49b75ca!2sJamnagar%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1673455245329!5m2!1sen!2sin"
              width="100%" height="450" style="border: 0" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="contact d-flex justify-content-center align-items-center w-100" id="contact">
      <div class="container banner_container">
        <h2 class="pt-5 text-center">Get In Touch</h2>
        <form action="/cilentdata" method="post">
          <div class="row100">
            <div class="col">
              <div class="inputBox">
                <input type="text" name="name" required="required" />
                <span class="text">First Name</span>
                <div class="line"></div>
              </div>
            </div>
            <div class="col">
              <div class="inputBox">
                <input type="text" name="email" required="required" />
                <span class="text">Email</span>
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="row100">
            <div class="col">
              <div class="inputBox">
                <input type="number" name="number" required="required" />
                <span class="text">Phone No</span>
                <div class="line"></div>
              </div>
            </div>
            <div class="col">
              <div class="inputBox">
                <input type="" name="city" required="required" value="Jamnager" />
                <span class="text">Enter Your City</span>
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="row100">
            <div class="col">
              <div class="inputBox textarea">
                <input name="msg" id="" required="required" cols="10" rows="10"></input>
                <span class="text">Type Your Message Here...</span>
                <span class="line"></span>
              </div>
            </div>
          </div>
          <div class="row100">
            <div class="col">
              <button class="button" value="submit"><span>Submit</span></button>
            </div>
          </div>
      </div>
      </form>
    </section>

    <!-- contact End -->

    <!-- Loader Start-->
    <div class="spinner"></div>

    <div id="scroll"></div>

    <!-- Loader End-->
  </main>

  <!--  -------------------- Footer Start -------------------------------------------  -->
  <footer class="footer-section" id="footer">
    <div class="container banner_container">
      <div class="footer-cta pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="bi bi-map-fill"></i>
              <div class="cta-text">
                <h4>Find us</h4>
                <span>1010 Avenue, sw 54321, chandigarh</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="bi bi-phone"></i>
              <div class="cta-text">
                <h4>Call us</h4>
                <span>9876543210 0</span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <i class="bi bi-envelope-open"></i>
              <div class="cta-text">
                <h4>Mail us</h4>
                <span>mail@info.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-content pt-5 pb-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 mb-50">
            <div class="footer-widget">
              <div class="footer-logo">
                <a href="/">Ki Mart</a>
              </div>
              <div class="footer-text">
                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec
                  tetur adipisicing
                  elit,Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="footer-social-icon">
                <span>Follow us</span>
                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Useful Links</h3>
              </div>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">portfolio</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Expert Team</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Latest News</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
            <div class="footer-widget">
              <div class="footer-widget-heading">
                <h3>Subscribe</h3>
              </div>
              <div class="footer-text mb-25">
                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
              </div>
              <div class="subscribe-form">
                <form action="#">
                  <input type="text" placeholder="Email Address">
                  <button><i class="ri-send-plane-line"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-2 bg-dark">
          <div class="col-xl-6 col-lg-6 text-center text-lg-left">
            <div class="copyright-text">
              <p>Copyright &copy; 2018, All Right Reserved <a href="#">Programming Infotech</a></p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
            <div class="footer-menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </footer>
  <!-- Vendor JS Files -->
  <script src="/js/jquery.min.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/vendor/boxicons/js/boxicons.js"></script>


  <!-- Template Main JS File -->
  <script src="/js/index.js"></script>
</body>

</html>