@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #00DBDE;
  background-image: linear-gradient(250deg, #00DBDE 0%, #FC00FF 100%);
  background-size: 400% 400%;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;

}

a:hover {
  text-decoration: none !important;
  color: #fff !important;
}

section {
  padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #01003D;
}

#contact .container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

#contact .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  transform: skewX(-15deg);
}

/* button */

.button {
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  margin-top: 15px;
}

.button {
  color: #eee;
  border: none;
  padding: 20px;
  width: 200px;
  font-weight: 300;
  transition: all 0.5s;
}


.button span {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/* ===========  Header  ========================= */

#header * {
  transition: ease-in-out 0.3s;
}

/* Header Top */
#header.header-top {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99999999999;
}

#header.header-top h2 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

/*  Navigation Menu */
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #18d26e;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed !important;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

/* #home,
.contact {
  background-image: linear-gradient(to right bottom, #fc80ff, #acadff, #1ccfff, #00e5ff, #00f3ff, #3de0c5, #68c98d, #86b05d, #85783a, #69482e, #3a2421, #000000);
} */

button {
  background-color: #00DBDE;
  background-image: linear-gradient(200deg, #00DBDE 0%, #FC00FF 100%);
}

#home .row h1 {
  font-size: 60px;
  font-weight: 800;
}

#home .row p {
  font-size: 25px;
}

/* 

.about,.services {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.why_we,.loan {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
} */


/* ----------------------- Why Cousie Us ---------------- */


.why_we .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.why_we .container .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.why_we .container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.why_we .container .card:hover .content {
  opacity: 1;
  transform: translateY(0px);
}

.why_we .container .card .content h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.why_we .container .card .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.why_we .container .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.why_we .container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



.why_we .card .position-absolute div {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.4s ease-in-out;
}

.why_we .card .position-absolute div i {
  font-size: 150px;
  color: whitesmoke;
}

.why_we .card:last-child .position-absolute div h4 {
  padding-top: 20px;
}

.why_we .card:hover .position-absolute div {
  opacity: 0;
  transform: translateY(-100px);
}



/* --------------- contact ---------------- */
/* info */
.infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #18b7ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.infoBox div p {
  color: #ffffff;
}

.infoBox div a {
  color: #fff;
  font-size: 1.1em;
}

.sci {
  margin-top: 40px;
  display: flex;
}

.sci li {
  margin-right: 15px;
}

.sci li a {
  color: #fff;
  font-size: 2em;
  color: #ccc;
}

.sci li a:hover {
  color: #fff !important;
}



/* form  */

.row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}

.row100 .col .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}

.row100 .col .inputBox input,
.row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.row100 .col .inputBox textarea {
  height: 80%;
}

.row100 .col .inputBox .text {
  left: 0;
  position: absolute;
  top: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}


.row100 .col .inputBox input:focus+.text,
.row100 .col .inputBox textarea:focus+.text,
.row100 .col .inputBox input:valid+.text,
.row100 .col .inputBox textarea:valid+.text {
  top: -35px;
  left: -10px;
}

.row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.row100 .col .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px 0;
}

.row100 .col .inputBox input:focus~.line,
.row100 .col .inputBox input:valid~.line,
.row100 .col .inputBox textarea:focus~.line,
.row100 .col .inputBox textarea:valid~.line {
  height: 100%;
}

/* .abc {
  border: none;
  padding: 18px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font: 600;
  font-size: 18px;
} */


/* ================== */

/* Loader Start */
.spinner {
  width: 72px;
  height: 72px;
  display: grid;
  border: 5.8px solid #0000;
  border-radius: 50%;
  border-right-color: rgba(255, 0, 0, 0.74);
  animation: spinner-a4dj62 1.4s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.9px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2.8s infinite;
}

.spinner::after {
  margin: 11.6px;
  animation-duration: 4.199999999999999s;
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}

/*  Loader End */